*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    padding-left: 3rem;
}
ul li{
    margin-right: 1rem;
    margin-left: 3rem;
}
ul li span.done{
    text-decoration: line-through;
    margin-right: 1rem;
}
section{
    margin-bottom: 3rem;
    
}
label{
    padding-left: 2rem;
}
h1{
    text-align: center;
}